/* TAGS */
body {
  padding: 50px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}
table{
  border: 2px solid black;
}
th, td{
  border: 1px solid black;
}
caption{
  caption-side: top;
  font-size: larger;
}

/* CLASS */
.min-vh-25{
  height: 25vh;
}
.min-vh-50{
  min-height: 50vh;
}
.display-block{
  display: block;
}

/* ID */
#readme{
  position: absolute;
  right : 2%;
  bottom: 2%;
}